body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: #121212;
	color: #ffffff;
	margin: 0;
}

.container {
	text-align: center;
	background-color: #1e1e1e;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

iframe {
	border: 1px solid #333;
	border-radius: 8px;
	width: 100%;
	max-width: 800px;
	height: 450px;
	margin-top: 20px;
}

.episodes {
	margin-bottom: 20px;
}

label {
	margin-right: 10px;
}

select {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #333;
	color: #fff;
	margin-right: 10px;
}

option {
	background-color: #333;
	color: #fff;
}

button {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: #333;
	color: #fff;
	cursor: pointer;
	margin-top: 10px;
}

button:hover {
	background-color: #555;
}

h1 {
	color: #ff6600;
	/* Màu cam */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* Font chữ */
	font-size: 32px;
	/* Kích thước chữ */
	font-weight: bold;
	/* Độ đậm */
	text-transform: uppercase;
	/* Chuyển đổi thành chữ in hoa */
	letter-spacing: 2px;
	/* Khoảng cách giữa các ký tự */
	margin-bottom: 20px;
	/* Khoảng cách với phần content dưới */
}
